* {
    margin: 0;
    padding: 0;
}

.company-logo {
    height: 24px;
    width: auto;
}

#header {
    height: 450px;
    width: 100%;    
}

#footer {
    height: 70px;
    width: 100%;
}

#header, #footer {
    background-color: #1F2937;
}

.header-line {
    display: flex;
    justify-content: space-between;
}

.logo, .links{
    display: flex;
    padding: 5px;
}

.header-main-body {
    display: flex;
    
}

.header-main {
    display: flex;
}
.starfish {
    height: 200px;
    width: auto;
}

.ocean, .species, .recycling, .diving {
    display: inline-block;
}

.ocean-img, .species-img, .recycling-img, .diving-img {
    height: 68px;
    width: auto;
}

span {
    display: block;
}