* {
    margin: 0;
    padding: 0;
}

.company-logo {
    height: 24px;
    width: auto;
    display: inline-block;
}

#header {
    height: 450px;
    width: 100%;
}

.starfish {
    height: 200px;
    width: auto;
}

.ocean, .species, .recycling, .diving {
    display: inline-block;
}

.ocean-img, .species-img, .recycling-img, .diving-img {
    height: 68px;
    width: auto;
}

span {
    display: block;
}