* {
    margin: 0;
    padding: 0;
}

.company-logo {
    height: 24px;
    width: auto;
}

.logo h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.company-logo, .logo h2 {
    margin-left: 5px;
    margin-top: 5px;
}

#header {
    height: 650px;
    width: 100%;    
}

#header, #footer {
    background-color: #1F2937;
}

.header-line {
    display: flex;
    justify-content: space-between;
}

.logo, .links{
    display: flex;
    padding: 5px;
}

.links a {
    text-decoration: none;
    margin: 5px 10px 0px 0px;
}

.header-main {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 7px 5px;
    box-sizing: border-box;
}

.header-main-body {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.header-text {
    display: flex;
    flex-wrap: wrap;
}

.header-text p, .links a, button {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text h1, .header-text p {
    margin-bottom: 10px;
}
.starfish {
    height: 200px;
    width: auto;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
}

#stuffs-sections {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#stuffs-sections h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.images {
    width: 750px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


.ocean, .species, .recycling, .diving {
    display: inline-block;
}

.ocean-img, .species-img, .recycling-img, .diving-img {
    height: 150px;
    width: 150px;
}

span {
    display: block;
}

#quotes-section {
    height: 450px;
    width:  100%;
    background-color: #E5E7EB;
    font: 36px lighter italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quotes-section figcaption{
    text-align: right;
}

#register-section {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    background-color: #3882F6;
    border-radius: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-text {
    box-sizing: border-box;
    width: 50%;
}

.register-text h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.register-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.register button {
    font-size: 18px;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

#footer {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
   
}

#footer a {
    text-decoration: none;
    margin-left: 5px;
    color: #E5E7EB;
    font-size: 18px;
}

#footer a:active {
    background-color: #3882F6;
}